<tr>
  <td><%= link_to "刪除", delete_item_cart_path(item.product_id), method: :post, class: "btn btn-default btn-danger"  %></td>
  <td><%= item.product.title %></td>
  <td><%= link_to "-", change_num_cart_path(item.product_id, :-), method: :post, class: "btn btn-default" %> <%= item.quantity %> <%= link_to "+", change_num_cart_path(item.product_id, :+), method: :post, class: "btn btn-default" %></td>
  <td><%= item.product.price %></td>
  <td><%= item.price %></td>
</tr>