<tr>
  <td>
<%= link_to "放到購物車", add_cart_path(product.id), method: :post, class: "btn btn-danger" %> <%= product.title %></td>
  <td><%= product.description %></td>
  <td><%= product.price %></td>
  <td><%= link_to "更新", edit_product_path(product.id), class: "btn btn-default" %> <%= link_to "刪除", product_path(product.id), method: :delete, data: {confirm: "是否刪除商品#{product.title}"}, class: "btn btn-default" %></td>
</tr>